.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 100vh;
	width: 100vw;
}

.login-container {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	width: 380px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.login-container .logo-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header-bar-container .logo-container {
	height: 100%;
}

.login-container > img {
	padding: auto;
}

h1, h2 {
	text-align: center;
	color: #848484;
	margin-bottom: 24px;
	font-weight: 600;
}

.form-group {
	margin-bottom: 20px;
}

.form-label {
	display: flex;
	justify-content: left;
}

.form-input {
	width: 100%;
	display: flex;
}

label {
	margin-bottom: 6px;
	font-size: 14px;
	color: #555;
	font-weight: 500;
}

input {
	width: 100%;
	padding: 10px 5px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 15px;
	transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
	outline: none;
	border-color: #4a90e2;
	box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

button {
	width: 100%;
	background-color: #585959;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 12px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #a6acb3;
}

.forgot-password {
	text-align: center;
	margin-top: 16px;
}

a {
	color: #4a90e2;
	text-decoration: none;
	font-size: 14px;
}

a:hover {
	text-decoration: underline;
}

.dashboard-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.header-bar-container {
	height: auto;
	width: 100%;
	background-color: rgb(72, 72, 72);
	display: flex;
	justify-content: flex-end;
	padding-bottom: 5px;
	padding-top: 5px;
}

.profile-picture {
	display: inline-flex;
	margin-right: 10px;
}

.profile-picture img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	padding: 5px;
}

.settings-button {
	display: flex;
	align-items: center;
	margin-right: 10px;
	position: relative;
}

.settings-popup {
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 12px;
	background-color: rgb(26, 26, 26);
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	z-index: 10;
	min-width: 200px;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.settings-container {
	flex: 1;
	margin: 5px;
}

.settings-container button {
	margin: 2px; 
}

.settings-container button.disabled,
.settings-container button.disabled:hover {
	background-color: #c3c3c3;
}

.logout-button-container {
	justify-self: flex-end;
	display: flex;
	justify-content: center;
}

.logout-button-container > button {
	width: auto;
	background-color: rgb(72, 72, 72);
}

.logo-big {
	width: 200px;
}

.logo-small {
	width: 50px;
	border-radius: 100%;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-bar-right {
	display: flex;
}

.logout-button-container {
	justify-self: flex-end;
	display: flex;
	justify-content: center;
}

.logout-button-container > button {
	width: auto;
	background-color: rgb(72, 72, 72);
}